[Unit]
Description=Airflow scheduler daemon

[Service]
User=airflow
Group=airflow
Type=simple
ExecStart=bash /home/airflow/scripts/airflow-start.sh scheduler
Restart=on-failure
RestartSec=5s
PrivateTmp=true

[Install]
WantedBy=multi-user.target
